apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-ktck
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-ktck
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-ktck
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-ktck
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-ktck
    spec:
      containers:
      - image: quay.io/rsoaresd_org/rhtap-demo-ibwj-tenant/rhtap-demo-app/hacbs-test-project-ktck@sha256:5bcd32f0b2be9561ba9669262d3ad206762f60b3c7e8e7146a4f29ef6469e094
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
